html,body {
	background-color: #222;
	color: #EEE;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}

header {
	background-color: #111;
	position: absolute;
	top: 0px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-bottom: 1px solid #900;
	overflow: hidden;
}
header img {
	position: absolute;
	padding-top: 0.3%;
	padding-left: 0.3%;
	width: auto;
	height: 80%;
	display: inline;
}
header nav {
	position: absolute;
	padding-top: 5px;
	right: 0px;
	font-weight: bold;
	cursor: default;
}
header p {
	padding: 20px;
	display: inline;
}
header p:hover {
	background-color: #A22;
	color: #FFF;
	cursor: pointer;
}

footer {
	border-top: 2px solid #900;
	position: absolute;
	bottom: 0px;
	height: 4em;
	width: 100%;
	background-color: #000;
	text-align: center;
}
