body {
    background-color: #14212B; 
    height: 100%;
    width: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

footer,
header {
    background-color: #14212B; 
    color: #e3f3ff;
    margin: 0px;
    padding: 1em;
    z-index: 1;
}

#content {
    margin-top: 10em;
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-color: #fefefe;
    margin-bottom: 9em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5), 0px -5px 10px rgba(0, 0, 0, 0.5);
}

#page {
    padding-left: 3em;
    padding-top: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

#page p {
    font-size: 1.2em;
    font-family: 'Source Code Pro', sans-serif;
    padding-top: 2em;
    padding-bottom: 3em;
}

#page a {
    color: #14212B;
    text-decoration: none;
    font-weight: bold;
}
#page a:hover {
    color: #243b4d;
}

#page h1 {
    font-size: 3em;
    font-weight: bold;
}    

#page h2 {
    font-size: 2em;
    font-weight: 800;
}

#page h1, #page h2, #page h3, #page h4
{
    font-family: 'Source Code Pro', sans-serif;
    color: #14212B;
}

#page .project {
    min-width: 25%;
    display: inline-block;
    margin: 1em;
    padding: 2em;
    background-color: #14212B;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: #98adb5;
}

#page .project i {
    font-size: 3em;
    background-color: #e3f3ff;
    color: #14212B;
    padding: 10px;
    border-radius: 100px;
    transition: all 1s ease-in-out;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    margin-left: 0.1em;
    margin-right: 0.1em;
}

#page .project a {
    color: #98adb5;
}

#page .project a:hover {
    color: #e3f3ff;
}

#page .project h3 {
    padding-bottom: 1em;
    color: #98adb5;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.bold {
    font-weight: bold;
}

header {
    transition: all 1s ease-in;
    position: fixed;
    padding-top: 8em;
    top: 0px;
    background-color: #14212B;
    z-index: -1;
}

header #navbar {
    position: inherit;
    right: 2em;
    top: 5em;
}

header #navbar a {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0px;
    font-weight: bold;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 0.9em;
    color: #98adb5;
    text-decoration: none;
}

header #navbar a.selected,
header #navbar a:hover {
    color: #e3f3ff;
    cursor: pointer;
}

header #navbar:hover {
    cursor: default;
}


header h1 {
    font-size: 4em;
    padding-left: 1em;
    position: inherit;
    top: 0.7em;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: bold;
}

header h1 i { 
    color: #e3f3ff;
}

header h1:hover {
    cursor: pointer;
}


footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: center;
    z-index: -1;
    font-family: 'Source Code Pro', sans-serif;
}


@media only screen and (max-width: 600px) {
    #header #navbar a {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    #header #navbar {
        margin-top: 4em;
        left: 0em;
    }
    #content {
        margin-top: 25em;
    }

    .max {
        margin: 0px;
        padding-left: 0px !important; padding-right: 0px !important;
        padding-bottom: 2em !important;
    }

    .project {
        display: inline-block;
        margin: 0em !important;
        margin-top: 1em !important;
        left: 0px;
        padding: 2em;
        width: auto;
    }
}
